.container {
   @include container(center);
   max-width: 480px;
   min-width: 300px;
   @include media(">small-tiny") {
      border: 2px solid darken($color-dark-gray-blue, 2%);
   }
}

footer {
   @include font-size(10px);
   color: $color-white;
   padding: 10px 0 20px 0;
   text-align: center;
   @include media(">tiny") {
      @include font-size(10px * $multiple2x);
      padding: 10px * $multiple2x 0 20px * $multiple2x 0;
   }
   a {
      color: $color-white;
      text-decoration: none;
   }
   .breaker {
      padding: 0 5px;
      text-align: center;
      @include media(">tiny") {
         padding: 0 5px * $multiple2x;
      }
   }
}
