.arrow {
   &--point-up {
      @include font-size(45px);
      bottom: 7px;
      color: $color-white;
      display: block;
      line-height: 0;
      position: relative;
      text-align: center;
      width: 100%;
      position: absolute;
      z-index: setZIndex(1);
      @include media(">tiny") {
         @include font-size(45px * $multiple2x);
         bottom: 7px * $multiple2x;
      }
   }
   &--point-down {
      @include font-size(45px);
      bottom: -4px;
      color: $color-white;
      display: block;
      line-height: 0;
      position: relative;
      text-align: center;
      width: 100%;
      position: absolute;
      z-index: setZIndex(2);
      @include media(">tiny") {
         @include font-size(45px * $multiple2x);
         bottom: -4px * $multiple2x;
      }
   }
}
