.benefits {
   background: $color-white;
   color: $color-gray;
   min-height: 302px;
   position: relative;

   &__header {
      @include font-size(16px);
      color: $color-green;
      padding: 18px 10px;
      line-height: 1.3;
      text-align: center;
      @include media(">tiny") {
         @include font-size(16px * $multiple2x);
         padding: 18px  * $multiple2x  10px * $multiple2x;
         line-height: 1.3 * $multiple2x;
      }
   }
}

.mediabox {
   @include container();
   position:relative;
   padding: 0 22px 10px 22px;
   display: flex;
   @include media(">tiny") {
      padding: 0 22px * $multiple2x 10px * $multiple2x 22px * $multiple2x;
   }

   &__visual {
      @include span(4 of 16);
   }

   &__content {
      @include span(last 12 of 16);
      @include font-size(14px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 70px;
      padding: 0 10px;
      @include media(">tiny") {
         @include font-size(14px * $multiple2x);
         min-height: 70px  * $multiple2x;
         padding: 0 10px * $multiple2x;
      }
   }
}
